{% extends 'base.html' %}

{% block extra_css %}
<style>
.subscriber-list {
    height: 200px;
    overflow-y: auto;
}
</style>
{% endblock%}

{% block page_header %}
Newsletter Sent! 
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <h5>
                    {{ latest_newsletter.title }}
                </h5>
            </div>
        </div>
        <div class="card-body">
            <div class="container">
                <p>
                    {{ latest_newsletter.content}}
                </p>
            </div>
        </div>
    </div>
    <a href="{% url 'newsletter_archive' %}" class="btn btn-danger btn-lg my-4">Newsletter Archive</a>
    <div class="card">
        <div class="card-title h5 p-2">
            Subscribers
        </div>
        <div class="card-body">
            <div class="subscriber-list">
                <ul class="list-group">
                    {% for subscriber in subscribers %}
                    <li class="list-group-item">{{ subscriber.email }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
    
{% endblock %}