{% extends 'base.html' %}

{% block content %}
    <h1>Newsletter Archive</h1>

    {% if newsletters.has_other_pages %}
        <div class="pagination">
            {% if newsletters.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ newsletters.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in newsletters.paginator.page_range %}
                {% if num == newsletters.number %}
                    <span class="current-page">{{ num }}</span>
                {% elif num > newsletters.number|add:'-3' and num < newsletters.number|add:'3' %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if newsletters.has_next %}
                <a href="?page={{ newsletters.next_page_number }}">Next</a>
                <a href="?page={{ newsletters.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </div>
    {% endif %}


    <ul>
        {% for newsletter in newsletters %}
            <li>
                {{newsletter.title}}
                {{ newsletter.content}}
            </li>
        {% endfor %}
    </ul>
{% endblock %}