{% extends 'base.html' %}

{% block content %}
<body>
    <div class="container">
        <h1>Shopping Bag</h1>
        {% if bag_items %}
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Product</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Total</th>
                </tr>
            </thead>
            <tbody>
                <!-- Add your shopping bag items here -->
                {% for item in bag_items %}
                    <tr>
                        <td class="text-center">
                            <img class="img-fluid" src="{{ item.product.image.url }}" alt="{{item.name}}" style="height: 200px; object-fit: cover;">
                            <p>{{ item.product.name }}</p>
                        </td>
                        <td>
                            <p class="text-center align-middle"><strong>€{{ item.product.price }}</strong></p>
                        </td>
                        <td>
                            <p class="text-center align-middle"><strong>{{ item.quantity }}</strong></p>
                        </td>
                        <td>
                            <p class="text-center align-middle"><strong>€{{ total|floatformat:2 }}</strong></p>
                        </td>
                    </tr>
                    <tr> 

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <h4>Total: $35.00</h4>
            <button class="btn btn-primary">Checkout</button>
        </div>
    </div>
    {% else %}
    <p class="text-center">Your bag is empty</p>
    {% endif %}
</body>

{% endblock %}