{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block content %}
<body>
    <div class="container">
        <h1>Shopping Bag</h1>
        {% if bag_items %}
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Product</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Total</th>
                </tr>
            </thead>
            <tbody>
                <!-- Add your shopping bag items here -->
                {% for item in bag_items %}
                    <tr>
                        <td class="text-center">
                            <img class="img-fluid" src="{{ item.product.image.url }}" alt="{{item.name}}" style="height: 200px; object-fit: cover;">
                            <p>{{ item.product.name }}</p>
                        </td>
                        <td>
                            <p class="text-center align-middle"><strong>€{{ item.product.price }}</strong></p>
                        </td>
                        <td>
                            <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}"> 
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="quantity"><strong>Quantity:</strong></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button type="button" 
                                            class="btn btn-light qty_minus" 
                                            data-item_id="{{item.item_id}}" 
                                            id="id_qty_minus_{{item.item_id}}">
                                            -
                                            </button>
                                        </div>
                                        <input 
                                        class="form-control qty_input" 
                                        type="number" 
                                        name="quantity" 
                                        value="{{ item.quantity }}"  
                                        min="1"
                                        max="99"
                                        data-item_id="{{item.item_id}}" 
                                        id="id_qty_{{item.item_id}}" >
                                        <div class="input-group-append">
                                            <button type="button" 
                                            class="btn btn-light qty_plus" 
                                            data-item_id="{{item.item_id}}" 
                                            id="id_qty_plus_{{item.item_id}}">
                                            +
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                                <a class="text-decoration-none text-dark update-link" 
                                    href="" 
                                    id="remove_{{item.item_id}}">
                                    Update
                                </a>
                                <a class="text-decoration-none text-danger remove-link float-right" 
                                href=""
                                id="remove_{{ item.item_id }}">
                                    Remove
                                </a>

                        </td>
                        <td>
                            <p class="text-center"><strong>€{{ item.product.price | calc_subtotal:item.quantity }}</strong></p>
                        </td>
                        <td>
                        </td>
                        <td>

                    </tr>
                    <tr> 

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <h4>Total: $35.00</h4>
            <button class="btn btn-primary">Checkout</button>
        </div>
    </div>
    {% else %}
    <p class="text-center">Your bag is empty</p>
    {% endif %}
</body>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    //Update quatity link
    $('.update-link').click(function(e) {
        e.preventDefault();
        var form = $(this).prev('.update-form');
        console.log(form);  
        form.submit();
    })

    // Remove item link
    $('.remove-link').click(function(e) {
        e.preventDefault(); 
        var crsfToken = '{{ csrf_token }}';
        var itemId = $(this).attr('id').split('remove_')[1];
        console.log(itemId);  // Print itemId to the console
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': crsfToken};    

        $.post(url, data)
        .done(function() {
            location.reload();
        });
    })
</script>
{% endblock %}  