{% extends 'base.html' %}

{% block page_header %}
About Animeasy
{% endblock%}

{% block content %}
<div class="container">
    <h2 class="display-5 mb-5">
        Animeasy was born out of a belief that animators should spend less time waiting and more time creating.
    </h2>
    <p> In 2019, we set out to create a set of tools that would help animators automate the tedious parts of their workflow. 
        We wanted to make it easier for animators to focus on what they do best: creating amazing animation. 
    </p>
    <h3 class="h5 my-3">
        Why spend time wrestling files and wrangling nodes when you could be creating the illusion of life?
    </h3> 
    <p> Professional animators know the struggle of managing complex animation projects. 
        They know the pain of dealing with hundreds of files and the frustration of trying to keep track of all the moving parts. 
        We wanted to make that process easier. 
    </p>
    <h3 class="h5 my-3">
        We believe that animation should be fun, not frustrating.
    </h3>
    <p> With tools that can colour in repetitve elements, manage files, or keep you favourite tools in arm's reach, Animeasy offers 
        a range of tools built with the requirements of professional animators in mind.
    <p> 
    <h3 class="h5 my-3">
        Freelancers know: Time is Money
    </h3>
    <p> The more time you spend on repetitive tasks, the less time you have to work on the things that matter. 
        That's why we created Animeasy: to help freelancers streamline their workflow and get more done in less time.
    </p>
    <h3 class="h5 my-3">
        Our Mission
    </h3>
    <p>At Animeasy, our mission is clear: to empower animators by streamlining their workflow, reducing 
        repetitive tasks, and enhancing creativity. We strive to provide innovative tools that simplify 
        the animation process, allowing artists to focus on their craft and bring their ideas to life with ease.
    </p>
    
    <h3 class="h5 my-3">
        What Sets Us Apart
    </h3>
    <p>What makes Animeasy stand out is our deep understanding of the challenges animators face 
        in their day-to-day work. We don't just create tools; we solve problems. Our team consists of passionate
         animators and developers who collaborate closely to develop solutions that address real-world needs.
    </p>
    <h3 class="h5 my-3">
        Our Tools
    </h3>
    <p>Our tools are meticulously crafted to integrate seamlessly into popular animation software such as After
         Effects and TVPaint. Whether you need to automate repetitive tasks, manage complex projects, or unleash
          your creativity with intuitive features, Animeasy has you covered.
    </p>
    <h3 class="h5 my-3">
        Get in Touch
    </h3>
    <p>Ready to take your animation workflow to the next level? Have questions or feedback? We'd
         love to hear from you! Reach out to us via email, social media, or join our newsletter list.
          Let's collaborate and make animation easier, together.</p>
    


</div>
{% endblock %}