{% extends 'base.html' %}

{% block page_header %}
Frequently Asked Questions 
{% endblock %}

{% block content %}
<div class="container">
    <h3 class="h5 my-3">
        Q: What is Animeasy?
    </h3>
    <p> A: Animeasy is a set of tools designed to help animators automate repetitive tasks and 
        streamline their workflow. Our tools are built with the needs of professional
         animators in mind, offering features that simplify the animation process and enhance creativity. </p>
    <h3 class="h5 my-3">
        Q: How can Animeasy help me?
    </h3>
    <p> A: Animeasy can help you save time and effort by automating tasks such as
         colouring repetitive elements, managing files, and keeping your favourite 
         tools within arm's reach. Our tools are designed to make animation more efficient
          and enjoyable, allowing you to focus on creating amazing animation. </p>
    <h3 class="h5 my-3">
        Q: What sets Animeasy apart?
    </h3>
    <p> A: What makes Animeasy unique is our deep understanding of the challenges animators 
        face in their day-to-day work. We don't just create tools; we solve problems. 
        Our team consists of passionate animators and developers who collaborate closely
         to develop solutions that address real-world needs. </p>
    <h3 class="h5 my-3">
        Q: How can I get started with Animeasy?
    </h3>
    <p> A: To get started with Animeasy, simply visit our website and explore our range of tools.
         You can download our tools and start using them in popular animation software
          such as After Effects and TVPaint. If you have any questions or need assistance,
           feel free to reach out to us via email or social media. </p>
    <h3 class="h5 my-3">
       Q:  Where can I find more information about Animeasy?
    </h3>
    <p> A: For more information about Animeasy, you can visit our website and explore our
         range of tools and features. You can also check out the rest of our FAQ section for 
         answers to common questions. If you have any specific questions or feedback, don't hesitate to
          reach out to us via email or social media. </p>

    <h3 class="h5 my-3">
        Q: Can I install TVPaint scripts on multiple computers?
    </h3>
    <p>
        A: Yes, you can install TVPaint scripts on multiple computers as
         long as you have the appropriate licenses or permissions to do so.
    </p>
    <h3 class="h5 my-3">
        Q: What is the difference between TVPX and George scripts in TVPaint?

    </h3>
    <p>
        A: TVPX scripts are designed to enhance animation workflows in TVPaint, 
        while George scripts offer additional functionality for specific tasks. Both types of 
        scripts can be installed and used in TVPaint according to your needs.

    </p>
    <h3 class="h5 my-3">
        Q: I'm experiencing issues with a ScriptUI panel in After Effects. Where can I get help?
    </h3>
    <p>
        A: If you encounter any issues with a ScriptUI panel, please check our FAQ section for troubleshooting tips.
         You can also seek assistance on the Adobe support website or contact us directly for further assistance.
    </p>
    <h3 class="h5 my-3">
        Q: Can I use ScriptUI panels in After Effects for free?
    </h3>
    <p>
        A: You must pay a small fee to download Animeay tools. However, once you download them you are free to 
        distribute them.
    </p>
    <h3 class="h5 my-3">
        Q: How can I contact Animeasy for support?
    </h3>
    <p>
        You can contact us <a href="{% url 'contact' %}">here</a> or reach out to us via email or social media.
        We also recommend subscribing to our newsletter for updates and announcements.
    </p>
    <h3 class="h5 my-3">
        Q: How do I install ScriptUI panels in After Effects?
    </h3>
    <p>
        A: Please refer to our detailed <a href="{% url 'install_guide' %}"> installation guide</a>
        for step-by-step instructions.
    </p>
    <h3 class="h5 my-3">
        Q: I'm new to TVPaint scripting. Where can I learn more?
    </h3>
    <p>
        A: If you're new to TVPaint scripting, we recommend exploring resources such as the
         TVPaint forums, online tutorials, and documentation provided by TVPaint. 
         Additionally, you can reach out to us for guidance and support.
    </p>    
    <h3 class="h5 my-3">
        Q: How do I know if a TVPaint script is compatible with my version of the software?
    </h3>
    <p>
        A: Animeasy tools are compatible with the latest version of TV Paint
    </p>


{% endblock %}