{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div> 
    </div>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %} 

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" style="background-image: url('{{MEDIA_URL}}home-hero.png'); background-size: cover;">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="display-3 fw-bold text-white">Animation... automated.</h1>
      <h3 class="fw-normal text-white mb-3">Animation made easier with custom tools for your workflow.<h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <a class="btn btn-danger btn-lg" href="{% url 'about' %}">
          Learn more
        </a>
        <a class="btn btn-light btn-lg" href="{% url 'products'%}">
          Buy
        </a>
      </div>
    </div>
  </div>

  <div class="newsletter container">
    <h2>Subscribe to Animeasy newsletter:</h2>
    <form method="POST" action="{% url 'home' %}" class="form-inline">
      {% csrf_token %}
      <div class="col-10">
      {{ form | crispy }}
      </div>
      <div class="col-3">
        <input class="btn btn-danger" type="submit" value="Subscribe">
      </div>
    </form>
  </div>

  <hr class="featurette-divider mt-5">
<div class="container">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Streamline your workflow.</h2>
      <p class="lead">Custom After Effects plugins, designed by animation professionals, for animation professionals.</p>
    </div>
    <div class="col-md-5">
      <img class="img img-fluid" height="500" width="500" style="object-fit: cover;" src="{{MEDIA_URL}}ae-keymakrer.gif" alt="Animator at a desk">    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">TV Paint, demystified.</h2>
      <p class="lead">Tradigital animation simplified so you can leave the technical behind and focus on your craft.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="img img-fluid" height="500" width="500" style="object-fit: cover;" src="{{MEDIA_URL}}tvp-mrflip.gif" alt="Animator at a desk">    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
      <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
    </div>
    <div class="col-md-5">
      <img class="img img-fluid" height="500" width="500" style="object-fit: cover;" src="{{MEDIA_URL}}animator-at-desk.jpg" alt="Animator at a desk">
    </div>
  </div>
</div>

  <hr class="featurette-divider">

<!-- 
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                New tools available
            </h1>
        </div>
        <div class="my-5">
            <h4>
                <a href="" class="buy-button btn btn-lg rounded-0 py-3">Buy</a>
            </h4>
        </div>
    </div>
</div> -->
{% endblock %}