{% extends 'base.html' %}
{% load static %}



{% block extra_css%}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}
{% block extra_js%}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block page_header %}
<h2> Thank you! </h2>
{% endblock %}




{% block content %}
<body>
        <div class="container mt-4">
        <p> Your order has been successfully processed. An order confirmation will be sent to {{ order.email}} </p>
        
        For installation help, check <a href="#">here</a>
                <br>
                <br>
        To leave a review, or check out other's reviews, click <a href="#">here</a>
                <br>
        </p>
        <a href="{% url 'products' %}" class="btn btn-danger mt-5">Continue Shopping</a>
        </div> 
</body>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}