html {
    height: 100%;
}

body {
    background: url('/animeasy-temp-logo.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 106px);
    color: #555;
    font-family: "Lato";
}

.p {
    color: red !important;
}

.toast-container {
    border: 1px solid red;
    position: fixed;
    z-index: 1000;
    top: 100%;
    left: 100%;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


/* Hide labels on forms */

.allauth-form-inner-content label:not([for=id_remember]) {
    display: none;
}