html {
    height: 100%;
}

body {
    background: url('/media/animeasy-temp-logo.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 106px);
    color: #555;
    font-family: "Lato";
}