<li class="nav-item-dropdown">
    <a href="" class="nav-link px-2 dropdown-toggle text-white" id="adminDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Admin
      </a>
    <ul class="dropdown-menu text-black" aria-labelledby="adminDropdown">
    <li class="dropdown-item">
    <a href="{% url 'add_product' %}" class="nav-link text-black">Add New Product</a>
    </li>
    <li class="dropdown-item">
        <a href="{% url 'create_newsletter' %}" class="nav-link text-black">Write a Newsletter</a>
    </li>
    <li class="dropdown-item">
        <a href="{% url 'newsletter_archive' %}" class="nav-link text-black">Newsletter Archive</a>
    </li>    
    <li class="dropdown-item">
        <a href="{% url 'contact_tickets' %}" class="nav-link text-black">Support Tickets</a>
    </li>
</ul>
</li>