<!-- Dark section -->
  <nav>
    <div class="text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-end">
          <ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'about' %}" class="nav-link px-2 text-white">About</a></li>
            <li><a href="{% url 'contact' %}" class="nav-link px-2 text-white">Support</a></li>
            <li class="nav-item dropdown">
                  <a href="{% url 'view_bag' %}" class="nav-link px-2 dropdown-toggle text-white" id="cartDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Cart
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="cartDropdown">
                    {% for item in bag_items|slice:":5" %}
                    <li class="dropdown-item mb-4">
                      <div class="container">
                          <table class="table table-borderless">
                              <tbody>
                                  <tr>
                                      <td><a href="{% url 'product_detail' item.product.id %}" class="text-black text-decoration-none"><strong>{{ item.product.name }}</strong></a></td>
                                      <td>{{ item.quantity }}</td>
                                      <td><a href="{% url 'product_detail' item.product.id %}"><img class="thumbnail" style="object-fit: cover;" width="50" height="50" src="{{ item.product.image.url }}"></a></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </li>
                    {% endfor %}
                    {% if total %}
                    <div class="container h6 col offset-1 mb-2">
                    Total: €{{ total}}
                    </div>
                    <div class="container ml-1 my-2">
                    <a class="btn btn-dark" href="{% url 'view_bag' %}">View Bag</a>
                    <a class="btn btn-danger" href="{% url 'checkout' %}">Checkout</a>
                    </div>
                    {% else %}
                    <div class="container m-2">
                    <p class="mt-2">Your cart is empty</p>
                </div>
                    {% endif %}
                  </ul>                     
            </li>
            <li><a href="#" class="nav-link px-2 text-white"><i class="fa-brands fa-light fa-facebook-f"></i></a></li>
            <li><a href="#" class="nav-link px-2 text-white"><i class="fa-brands fa-light fa-linkedin-in"></i></a></li>
            {% if user.is_authenticated %}
               {% if request.user.is_superuser %}
               {% include 'includes/admin_panel.html' %}
                {% endif %}
            <li><a href="{% url 'profile' %}" class="nav-link px-2 text-white">Profile</a></li>
            <li><a href="{% url 'account_logout' %}" class="nav-link px-2 text-white">Sign Out</a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}" class="nav-link px-2 text-white">Sign In</a></li>
            <li><a href="{% url 'account_signup'%}" class="nav-link px-2 text-white">Sign Up</a></li>
            {% endif %}
          </ul>
  
          </div>
        </div>
      </div>
    </div>
  </nav>
  <header class="py-3 mb-4 border-bottom">
    <div class="">
      <div class="container">
        <a href="{% url 'home' %}">
        <img src="{{ MEDIA_URL }}animeasy-temp-logo.png" class="img img-fluid" alt="Animeasylogo" height="200" width="auto">
        </a>
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-end">
          <!-- this needs t0 be a burger whn not large-->
          <ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'products' %}?category=tv_paint" class="nav-link text-black">TV Paint</a></li>
            <li><a href="{% url 'products' %}?category=after_effects" class="nav-link text-black">After Effects</a></li>
            <li><a href="{% url 'products' %}" class="btn btn-danger">All Products</a></li>
          </ul>
  
          </div>
        </div>
      </div>
  </header>

