<!-- Dark section -->





  <nav>
    <div class="text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-end">
          <ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'products' %}" class="nav-link px-2 text-white">Products</a></li>
            <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Support</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Contact</a></li>
            <li class="nav-item dropdown">
                  <a href="{% url 'view_bag' %}" class="nav-link px-2 dropdown-toggle text-white" id="cartDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Cart
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="cartDropdown">
                    {% for item in bag_items|slice:":5" %}
                    <li class="dropdown-item mb-4">
                      <div class="container">
                          <table class="table table-borderless">
                              <tbody>
                                  <tr>
                                      <td><a href="{% url 'product_detail' item.product.id %}" class="text-black text-decoration-none"><strong>{{ item.product.name }}</strong></a></td>
                                      <td>{{ item.quantity }}</td>
                                      <td><a href="{% url 'product_detail' item.product.id %}"><img class="thumbnail" style="object-fit: cover;" width="50" height="50" src="{{ item.product.image.url }}"></a></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </li>
                    {% endfor %}
                  
                    {% if total %}
                    €{{ total}}
                    <a class="btn btn-danger" href="{% url 'checkout' %}">Checkout</a>
                    {% else %}
                    <div class="container m-2">
                    <p class="mt-2">Your cart is empty</p>
                </div>
                    {% endif %}
                  </ul>                     
            </li>
            <li><a href="#" class="nav-link px-2 text-white"><i class="fa-brands fa-light fa-facebook-f"></i></a></li>
            <li><a href="#" class="nav-link px-2 text-white"><i class="fa-brands fa-light fa-linkedin-in"></i></a></li>
          </ul>
  
          </div>
        </div>
      </div>
    </div>
  </nav>

    <!-- Light section  -->
  <header class="py-3 mb-4 border-bottom">

    <div class="">
      <div class="container">
        <a href="{% url 'home' %}">
        <img src="{{ MEDIA_URL }}animeasy-temp-logo.png" class="img img-fluid" alt="Animeasylogo" height="200" width="auto">
        </a>
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-end">
          <!-- this needs t0 be a burger whn not large-->
          <ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'products' %}?category=tv_paint" class="nav-link text-black">TV Paint</a></li>
            <li><a href="{% url 'products' %}?category=after_effects" class="nav-link text-black">After Effects</a></li>
            <li><a href="{% url 'products' %}" class="btn btn-danger">All Products</a></li>
          </ul>
  
          </div>
        </div>
      </div>
  </header>

