{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
  <body>
    <!-- Search bar, script below -->
    <div class="container mt-3">
        <form method="GET" action="{% url 'products' %}">
            <div class="input-group">
                <button class="btn btn-outline-secondary" type="button" id="search-btn"><i class="fas fa-search"></i></button>
                <input type="text" class="form-control search-bar d-none" placeholder="Search..." name="q">
                <select class="form-select search-bar d-none" aria-label="Search">
                    <option selected>Filter Software</option>
                    <option value="1">After Effects</option>
                    <option value="2">TV Paint</option>
                </select>
                <button class="btn btn-outline-secondary d-none" type="submit" id="submit-btn">Go</button>
            </div>
        </form>
    </div>
    
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in products %}
                <div class="col">
                    <div class="card shadow-sm">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}" target="_blank">
                            <img src="{{ product.image.url }}" class="img card-img-top img-fluid" alt='{{product.description}}'>
                        </a>
                        {% else %}
                        <a href="">
                            <img src="{{ MEDIA_URL }}noimage.png" class="img card-img-top img-fluid" alt='{{product.description}}'>
                        </a>
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">{{product.name}}</h4>
                        <p class="card-text">{{product.description}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                            </div>
                        <h3>€{{product.price}}</h3>
                        </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </body>
{% endblock %}

{% block postloadjs %}
<script>
    document.getElementById('search-btn').addEventListener('click', function() {
        document.querySelectorAll('.search-bar').forEach(function(element) {
            element.classList.toggle('d-none');
        });
        document.getElementById('submit-btn').classList.toggle('d-none'); // Toggle submit button visibility
    });
</script>
{% endblock %}


